// Blue
$blue: #2167ae;
$blue-light: #91bfe3;
$blue-sky: #1fb1e6;
$blue-dark: #23366f;
$blue-50: #d8e8ff;
$blue-300: #719ce3;
$blue-400: #5b89d3;
$blue-500: #3e75c0;
$blue-700: #075395;
$blue-800: #00407d;
$blue-900: #003b73;

// Purple
$purple-50: #dcdcf2;
$purple-100: #d0d0ed;
$purple-200: #c1c0e7;
$purple-300: #acabe0;
$purple-400: #908fd5;
$purple-500: #6c6ac7;
$purple-600: #4b49bb;
$purple-700: #3e3ca0;
$purple-800: #353388;
$purple-900: #2d2b74;

// green
$green-dark: #81a884;
// Red
$red: #ed7c6e;
$dove: #DDE4E3;
// SandStone
$sand: #DAD2BD;

//orange
$orange: #FF7900;

// Black
$black-10: #FCFDFF;
$black-20: #E7EAEE;
$black-40: #C7CEDA;
$black-50: #ADB6C2;
$black-60: #8D98A8;
$black-70: #747e8c;
$black-80: #4d5765;
$black-90: #333942;
$black-100: #252A2E;

// States
$success: #5cbc88;
$success-light: #8cdfb3;
$warning: #fbbf4c;
$warning-light : #FFF9EE;
$danger: #e45947;
$danger-light : #FEEDF2;

// Colors
$blanco: #eceeef;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  tv: 1920px,
);