<div class="container pt-5">
    <div class="d-flex flex-column mt-3 mt-md-5">
        <app-arrow-back></app-arrow-back>
        <h1 class="text-center h2 mb-0">Contact Information p</h1>
    </div>
    <div class="row justify-content-center gap-5 py-5">
        <div class="booking-info col-md-5 p-4">
            <app-booking-info></app-booking-info>
        </div>
        <div class="contact-info col-md-6 p-4">
            <app-contact-info></app-contact-info>
        </div>        
    </div>
</div>